<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Form</title>
    <style>
        /* body {
            background: url("images/bg.jpg");
            background-blend-mode: screen;
            background-size: cover;
            background-color: rgb(146, 197, 178);
        } */

        /* li>a:hover {
            background-color: #babbbb !important;
            color: #ffffff !important;
        }

        .form-control:focus {
            background-color: #f5f7f8 !important;
            border-color: rgb(205, 228, 221);
            box-shadow: 0px 1px 1px rgba(176, 201, 193, 0.9) inset, 0px 0px 8px rgba(220, 250, 230, 0.9);
        } */
        .btn:focus {
            border-color: rgb(112, 128, 123)!important;
            box-shadow: 0px 1px 1px rgba(117, 128, 124, 0.9) inset, 0px 0px 8px rgba(135, 150, 140, 0.9)!important;
        } 
    </style>
    </style>
</head>

<body>
    <div class="d-flex flex-column min-vh-100 justify-content-center" style="background: rgb(205 221 233);">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto fw-normal">
                        <li class="nav-item">
                            <a class="nav-link index" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active login" href="login.html">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link register" href="register.html">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
<div class="container">

        <h3 class="text-center lead text-secondary text-uppercase fs-3 fw-bold">Lane Detection</h3>
        <div class="row g-0 justify-content-center align-items-center gap-0" style="height: 85vh; background: rgb(205 221 233);">
            <div class="col-md-6 col-12">
                <a id="check_with_image"
                class="btn btn-light border border-2 border-secondary w-100 text-secondary mb-3"
                role="button" href="">Check The Disease With Image</a>
                <a id="about_Brain _disease"
                class="btn btn-light border border-secondary border-2 w-100 text-secondary"
                role="button" href="">To Know About The Lung Cancer  Disease</a>
                <!-- <div class="card shadow-sm text-center bg-light my-3 py-3">
                    <p class="my-2 text-secondary text-uppercase">Disease Name</p>
                    <p><img src="images/bg.jpg" alt="" class="img-thumbnail border border-3" height="250px" width="250px"></p>
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                      </ol>
                    </div>
                        <div class="col-md-5">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Cras justo odio</li>
                      </ol>
                    </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="col-md-6 col-11">
            </div> -->
            
        </div>
        <!-- <div class="my-2"></div> -->
        <!-- <div class="wrapper flex-grow-1"></div>
<footer class="bg-light fw-normal text-secondary text-center shadow">© <script>document.write(new Date().getFullYear());</script> Footer
</footer> -->
</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        // $("#formsignin").on('submit', function (e) {

        //     if ($("#email").val() == '') {

        //         alert("Please Fill All Fields");
        //         e.preventDefault();

        //     }

        //     else {

        //         if ($("#email").val() !== '') {

        //             var check = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        //             var email = $("#email").val();
        //             if (!check.test(email)) {
        //                 alert('Please Enter A Valid Email');
        //                 e.preventDefault();
        //             }

        //         }
        //         else {

        //             alert("Please Enter Your Email");
        //             e.preventDefault();

        //         }


        //     }


        // });
    </script>
</body>

</html>